
.container-anim-profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-anim-profile:after{
    content: '';
    display: block;
    background: #387586;
    width: 145px;
    height: 145px;
    border-radius: 600px;
}

.container-anim-profile .me {
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 160px;
}
.container-anim-profile .me .head {
  position: absolute;
  width: 70px;
  height: 90px;
  top: 10px;
  background: #d38554;
  border-radius: 30px 30px 120px 120px;
  left: 4px;
  transition: all 0.5s ease;
}



.container-anim-profile .me .head .bangs, .container-anim-profile .me .head .bangs-upper {
  position: absolute;
  width: 94%;
  height: 50px;
  top: -12px;
  transition: all 0.5s ease;
  
  border-radius: 5px 0px 14px 3px;
  transform: rotate(-13deg);
}



.container-anim-profile .me .head .bangs span{
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 100%;

  border-radius: 23px 7px 16px 6px;
  transform: rotate(-74deg);
}


.container-anim-profile .me .head .bangs-upper span {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 100%;

  border-radius: 5px 3px 14px 7px;
  transform: rotate(124deg);
}

.container-anim-profile .me .head .bangs span:nth-child(2), .container-anim-profile .me .head .bangs-upper span:nth-child(2) {
  left: 20px;
}
.container-anim-profile .me .head .bangs span:nth-child(3), .container-anim-profile .me .head .bangs-upper span:nth-child(3) {
  left: 40px;
  top: 8px;
}

.container-anim-profile .me .head .bangs span:nth-child(4), .container-anim-profile .me .head .bangs-upper span:nth-child(4) {
  left: 45px;
  top: 12px;
}

.container-anim-profile .me .head .bangs span:nth-child(5), .container-anim-profile .me .head .bangs-upper span:nth-child(5){
  left: -10px;
  top: 0px;
}


.container-anim-profile .me .head .bangs-upper {
  margin-top: -5px;
}
.container-anim-profile .me .head.look-left {
  width: 70px;
  left: -10px;
}
.container-anim-profile .me .head.look-left .bangs, .container-anim-profile .me .head.look-left .bangs-upper {
  width: 106%;
  left: -4px;
}
.container-anim-profile .me .head.look-right {
  width: 70px;
  left: 15px;
}
.container-anim-profile .me .head.look-right .bangs, .container-anim-profile .me .head.look-right .bangs-upper {
  width: 106%;
  left: 5px;
}
.container-anim-profile .me .head.look-down {
  width: 70px;
  height: 90px;
  top: 20px;
  left: 5px;
  transform-origin: bottom center;
}
.container-anim-profile .me .head.look-down .bangs, .container-anim-profile .me .head.look-down .bangs-upper {
  height: 80px;
  top: -10px;
}
.container-anim-profile .me .head.look-up {
  width: 70px;
  height: 90px;
  top: 0px;
  left: 5px;
  transform-origin: bottom center;
}
.container-anim-profile .me .head.look-up .bangs, .container-anim-profile .me .head.look-up .bangs-upper {
  height: 40px;
  top: -12px;
}
.container-anim-profile .me .head.look-bottom-right {
  width: 70px;
  top: 17px;
  left: 25px;
  transform: rotate(10deg);
  transform-origin: bottom left;
}
.container-anim-profile .me .head.look-bottom-right .bangs, .container-anim-profile .me .head.look-bottom-right .bangs-upper {
  height: 80px;
  width: 106%;
  top: -2px;
}
.container-anim-profile .me .head.look-bottom-left {
  width: 70px;
  top: 17px;
  left: -15px;
  transform: rotate(-10deg);
  transform-origin: bottom right;
}
.container-anim-profile .me .head.look-bottom-left .bangs, .container-anim-profile .me .head.look-bottom-left .bangs-upper {
  height: 80px;
  width: 106%;
  top: -4px;
  left: 5px;
}
.container-anim-profile .me .head.look-top-right {
  width: 70px;
  top: 3px;
  left: 25px;
  transform: rotate(-10deg);
  transform-origin: bottom left;
}
.container-anim-profile .me .head.look-top-right .bangs, .container-anim-profile .me .head.look-top-right .bangs-upper {
  height: 40px;
  width: 106%;
  top: -16px;
  left: 0px;
}
.container-anim-profile .me .head.look-top-left {
  width: 70px;
  top: 3px;
  left: -15px;
  transform: rotate(10deg);
  transform-origin: bottom right;
}
.container-anim-profile .me .head.look-top-left .bangs, .container-anim-profile .me .head.look-top-left .bangs-upper {
  height: 40px;
  width: 106%;
  top: -12px;
  left: -2px;
}
.container-anim-profile .me .face {
  transition: all 0.5s ease;
  position: absolute;
  top: 30px;
}
.container-anim-profile .me .face .eyes {
  display: flex;
  justify-content: space-between;
}
.container-anim-profile .me .face .eyes:before, .container-anim-profile .me .face .eyes:after {
  content: "";
  display: block;
  position: relative;
  transform-origin: center;
  width: 9px;
  height: 30px;
  background: black;
  border-radius: 200px;
  left: 3px;
  margin: -2px 12px;
  animation: blink 4s infinite;
  transition: all 0.5s ease;
}
.container-anim-profile .me .face .glasses {
  position: relative;
  width: 10px;
  height: 2px;
  background: #000;
  left: 47%;
  top: 15px;
}
.container-anim-profile .me .face .glasses .left, .container-anim-profile .me .face .glasses .right {
  position: absolute;
  width: 32px;
  height: 17px;
  background: #ffffff52;
  border-radius: 7px;
  border: 2px solid #000000;
  left: -31px;
  top: -11px;
  overflow: hidden;
  z-index: 2;
}
.container-anim-profile .me .face .glasses .right {
  left: 8px;
}
.container-anim-profile .me .face.look-left {
  left: -7px;
}
.container-anim-profile .me .face.look-right {
  left: 5px;
}
.container-anim-profile .me .face.look-down {
  top: 40px;
}
.container-anim-profile .me .face.look-down .eyes:before, .container-anim-profile .me .face.look-down .eyes:after {
  height: 25px;
  margin-top: 2px;
}
.container-anim-profile .me .face.look-up {
  top: 20px;
}
.container-anim-profile .me .face.look-up .eyes:before, .container-anim-profile .me .face.look-up .eyes:after {
  height: 25px;
  margin-top: -2px;
}
.container-anim-profile .me .face.look-bottom-right {
  top: 40px;
  left: 5px;
}
.container-anim-profile .me .face.look-bottom-right .eyes:before, .container-anim-profile .me .face.look-bottom-right .eyes:after {
  height: 25px;
  margin-top: -1px;
}
.container-anim-profile .me .face.look-bottom-left {
  top: 40px;
  left: -7px;
}
.container-anim-profile .me .face.look-bottom-left .eyes:before, .container-anim-profile .me .face.look-bottom-left .eyes:after {
  height: 25px;
  margin-top: -1px;
}
.container-anim-profile .me .face.look-top-right {
  top: 20px;
  left: 5px;
}
.container-anim-profile .me .face.look-top-right .eyes:before, .container-anim-profile .me .face.look-top-right .eyes:after {
  height: 25px;
  margin-top: -2px;
}
.container-anim-profile .me .face.look-top-left {
  top: 20px;
  left: -7px;
}
.container-anim-profile .me .face.look-top-left .eyes:before, .container-anim-profile .me .face.look-top-left .eyes:after {
  height: 25px;
  margin-top: -2px;
}
.container-anim-profile .me .shine {
  position: absolute;
}
.container-anim-profile .me .shine:before, .container-anim-profile .me .shine:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  background: white;
  opacity: 0.4;
  transform: rotate(30deg);
  top: -30px;
  left: 5px;
  border-left: 2px solid #59c3ec;
}
.container-anim-profile .me .shine:after {
  width: 5px;
  left: 30px;
}
.container-anim-profile .me .neck {
  position: absolute;
  width: 20px;
  height: 60px;
  background: #d38554;
  top: 60px;
  left: 30px;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;
}
.container-anim-profile .me .neck:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #8c4b22;
  border-radius: 100%;
  top: -12px;
  left: -18px;
  transition: all 0.5s ease;
}
.container-anim-profile .me .neck.look-left:before {
  left: -38px;
}
.container-anim-profile .me .neck.look-right:before {
  left: -5px;
}
.container-anim-profile .me .neck.look-down:before {
  top: -5px;
}
.container-anim-profile .me .neck.look-up:before {
  top: -22px;
}
.container-anim-profile .me .neck.look-bottom-right:before {
  left: -2px;
  top: -5px;
}
.container-anim-profile .me .neck.look-bottom-left:before {
  left: -38px;
  top: -5px;
}
.container-anim-profile .me .neck.look-top-right:before {
  top: -22px;
  left: -2px;
}
.container-anim-profile .me .neck.look-top-left:before {
  top: -22px;
  left: -38px;
}
.container-anim-profile .me .shirt {
  position: absolute;
  width: 80px;
  height: 40px;
  background: #000;
  top: 105px;
  border-radius: 100px 100px 10px 10px;
  overflow: hidden;
}
.container-anim-profile .me .shirt:after {
  content: "\2112";
  position: absolute;
  color: #fff;
  top: 15px;
  left: 50px;
}
.container-anim-profile .me .hair {
  transition: all 0.5s ease;
  position: absolute;
  width: 90px;
  height: 120px;
  left: -8%;
  top: -10%;
}
.container-anim-profile .me .hair .first-row, .container-anim-profile .me .hair .second-row, .container-anim-profile .me .hair .third-row, .container-anim-profile .me .hair .fourth-row, .container-anim-profile .me .hair .fifth-row {
  position: absolute;
  pointer-events: none;
}
.container-anim-profile .me .hair .first-row span, .container-anim-profile .me .hair .second-row span, .container-anim-profile .me .hair .third-row span, .container-anim-profile .me .hair .fourth-row span, .container-anim-profile .me .hair .fifth-row span {
  width: 30px;
  height: 15px;
  border-radius: 9px;
  background: black;
  position: absolute;
  
  border-radius: 5px 0px 14px 3px;
  transform: rotate(-13deg);
}
.container-anim-profile .me .hair .first-row span:nth-child(1), .container-anim-profile .me .hair .second-row span:nth-child(1), .container-anim-profile .me .hair .third-row span:nth-child(1), .container-anim-profile .me .hair .fourth-row span:nth-child(1), .container-anim-profile .me .hair .fifth-row span:nth-child(1) {
  top: 5px;
}
.container-anim-profile .me .hair .first-row span:nth-child(2), .container-anim-profile .me .hair .second-row span:nth-child(2), .container-anim-profile .me .hair .third-row span:nth-child(2), .container-anim-profile .me .hair .fourth-row span:nth-child(2), .container-anim-profile .me .hair .fifth-row span:nth-child(2) {
  left: 30px;
}
.container-anim-profile .me .hair .first-row span:nth-child(3), .container-anim-profile .me .hair .second-row span:nth-child(3), .container-anim-profile .me .hair .third-row span:nth-child(3), .container-anim-profile .me .hair .fourth-row span:nth-child(3), .container-anim-profile .me .hair .fifth-row span:nth-child(3) {
  left: 60px;
  top: 5px;
}
.container-anim-profile .me .hair .first-row span:nth-child(4), .container-anim-profile .me .hair .second-row span:nth-child(4), .container-anim-profile .me .hair .third-row span:nth-child(4), .container-anim-profile .me .hair .fourth-row span:nth-child(4), .container-anim-profile .me .hair .fifth-row span:nth-child(4) {
  left: 15px;
}
.container-anim-profile .me .hair .first-row span:nth-child(5), .container-anim-profile .me .hair .second-row span:nth-child(5), .container-anim-profile .me .hair .third-row span:nth-child(5), .container-anim-profile .me .hair .fourth-row span:nth-child(5), .container-anim-profile .me .hair .fifth-row span:nth-child(5) {
  border-radius: 80%;
  left: 45px;
}
.container-anim-profile .me .hair .first-row{
  top: 25px;
}

.container-anim-profile .me .hair .second-row {
  top: 38px;
}
.container-anim-profile .me .hair .third-row {
  top: 50px;
}
.container-anim-profile .me .hair .fourth-row {
  top: 60px;
  left: 2px;
}
.container-anim-profile .me .hair .fourth-row span {
  width: 25px;
  height: 25px;
}
.container-anim-profile .me .hair .fifth-row {
  top: 80px;
  left: 7.2px;
}
.container-anim-profile .me .hair .fifth-row span {
  width: 15px;
  height: 15px;
}
.container-anim-profile .me .hair.look-left {
  width: 55px;
  left: -17px;
}
.container-anim-profile .me .hair.look-right {
  width: 55px;
  left: 2px;
}
.container-anim-profile .me .hair.look-down {
  height: 165px;
  top: -12px;
}
.container-anim-profile .me .hair.look-up {
  width: 50px;
  height: 180px;
  top: -20px;
}
.container-anim-profile .me .hair.look-bottom-right {
  height: 165px;
  top: -12px;
  width: 55px;
  left: 15px;
  transform: rotate(10deg);
}
.container-anim-profile .me .hair.look-bottom-left {
  height: 165px;
  top: -9px;
  width: 55px;
  left: -25px;
  transform: rotate(-10deg);
}
.container-anim-profile .me .hair.look-top-right {
  width: 50px;
  height: 180px;
  top: -20px;
  left: 8px;
  transform: rotate(-10deg);
}
.container-anim-profile .me .hair.look-top-left {
  width: 50px;
  height: 180px;
  top: -20px;
  left: -19px;
  transform: rotate(10deg);
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  18% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(1);
  }
  38% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0);
  }
  45% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1);
  }
}
