.box-habilidade{
    font-size: 14px;
}
.avatar-rodape{
    margin: 40px 0px;
}
.avatar-rodape img{
    width: 100%;
    border-radius: 360px;
    padding: 3px;
    background: #ffff;
}

header.masthead .avatar{
    min-height: 150px;
}